In [ ]:
import pandas as pd

In [ ]:
file1=pd.read_excel("Practical-4.xlsx","Sheet1")
file2 = pd.read_excel("Practical-4.xlsx","Sheet2")

In [ ]:
pd.merge(file1,file2,how="inner",on='Name')

       Name Time of Joining_x  Duration_x Time of Joining_y  Duration_y
0  Anshuman          11:00:00          30          11:00:00          50
1  Abhishek          11:05:00          40          11:06:00          30
2      Ajay          11:03:00          30          11:09:00          40
3     Anand          11:10:00          30          11:10:00          50
4    Anurag          11:08:00          40          11:08:00          30
5     Arpit          11:05:00          40          11:08:00          40
6    Bhavya          11:02:00          40          11:14:00          30
7    Dinesh          11:03:00          30          11:02:00          50
8      Ishu          11:00:00          50          11:00:00          50
9     Harsh          11:11:00          40          11:09:00          40

In [ ]:
kk=pd.merge(file1,file2,how='outer',on='Name')

In [ ]:
kk

         Name Time of Joining_x  Duration_x Time of Joining_y  Duration_y
0    Anshuman          11:00:00        30.0          11:00:00        50.0
1    Abhishek          11:05:00        40.0          11:06:00        30.0
2       Aatif          11:04:00        50.0               NaN         NaN
3        Ajay          11:03:00        30.0          11:09:00        40.0
4       Anand          11:10:00        30.0          11:10:00        50.0
5     Anubhav          11:15:00        40.0               NaN         NaN
6      Anurag          11:08:00        40.0          11:08:00        30.0
7       Arpit          11:05:00        40.0          11:08:00        40.0
8      Anjali          11:18:00        30.0               NaN         NaN
9      Bhavya          11:02:00        40.0          11:14:00        30.0
10     Dinesh          11:03:00        30.0          11:02:00        50.0
11       Ishu          11:00:00        50.0          11:00:00        50.0
12     Garish          11:09:00        50.0               NaN         NaN
13      Harsh          11:11:00        40.0          11:09:00        40.0
14      Kunal          11:05:00        50.0               NaN         NaN
15  Deepanshu               NaN         NaN          11:10:00        40.0
16     Bharat               NaN         NaN          11:12:00        30.0
17  Divyanshu               NaN         NaN          11:13:00        40.0
18     Japesh               NaN         NaN          11:08:00        30.0
19     Jeevan               NaN         NaN          11:06:00        30.0

In [ ]:
kk['Name'].count()

20

partd

In [ ]:
l=pd.merge(file1,file2,how="outer",on=["Name","Duration"]).copy()

In [ ]:
l.fillna(value="-",inplace=True)

In [ ]:
l.set_index(['Name','Duration'])

                   Time of Joining_x Time of Joining_y
Name      Duration
Anshuman  30                11:00:00                 -
Abhishek  40                11:05:00                 -
Aatif     50                11:04:00                 -
Ajay      30                11:03:00                 -
Anand     30                11:10:00                 -
Anubhav   40                11:15:00                 -
Anurag    40                11:08:00                 -
Arpit     40                11:05:00          11:08:00
Anjali    30                11:18:00                 -
Bhavya    40                11:02:00                 -
Dinesh    30                11:03:00                 -
Ishu      50                11:00:00          11:00:00
Garish    50                11:09:00                 -
Harsh     40                11:11:00          11:09:00
Kunal     50                11:05:00                 -
Anshuman  50                       -          11:00:00
Abhishek  30                       -          11:06:00
Deepanshu 40                       -          11:10:00
Ajay      40                       -          11:09:00
Anand     50                       -          11:10:00
Bharat    30                       -          11:12:00
Anurag    30                       -          11:08:00
Divyanshu 40                       -          11:13:00
Bhavya    30                       -          11:14:00
Dinesh    50                       -          11:02:00
Japesh    30                       -          11:08:00
Jeevan    30                       -          11:06:00